<div id="success-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Item Added to Cart</h2>
    <p>Your item has been added to the cart successfully.</p>
    <a href="/cart" class="btn-view-cart acBtn">View Cart</a>
  </div>
</div>
